* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

h1 {
    color: #555;
}

form {
    padding: 60px 0 10px 0;
    border: 0;
    box-shadow: 10px 10px 10px #aaa;
    width: 500px;
    margin: 30px auto;
    justify-items: center;
    background-color: #fff;
    border-radius: 10px;
}

label {
    color: #777;
}

input {
    width: 100%;
    font-size: larger;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

button {
    width: 90px;
    display: block;
    padding: 7px;
    font-size: 12pt;
    margin: 30px;
    border-radius: 4px;
    border: 0;
    background-color: greenyellow;
    color: #555;
}

button:hover {
    background-color: green;
    color: #fff;
}